{
    "presets": [ "next/babel" ],
    "plugins": [
        "transform-decorators-legacy",
        ["component", {
            libraryName: 'thanos',
            style: true,
            libDir: 'dist',
            camel2Dash: false
        }, 'thanos']
    ]
}